<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/shop">Shop</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/shop/mens">Mens</a></li>
        <li><a href="/shop/womens">Womens</a></li>
      </ul>
      <% if (session.user) { %>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/shop/shopping_cart"><span class="glyphicon glyphicon-shopping-cart"><span class="badge"><%= session.shopping_cart.length %></span></span> </a></li>
        <li><a href="/shop/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
        <% } else { %>
           <ul class="nav navbar-nav navbar-right">
          <li><a href="/shop/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/shop/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          </ul>
          <% }
        %> 
    </div>
  </div>
</nav>