<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%= include navbar %>
        <div class="container content">
            <ol class="breadcrumb">
                 <li><a href="/shop">Home</a></li>
                 <li class="active">Shopping cart</li>  
            </ol>
            <div class="bs-example">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var i = 0 %>
                    <% var total = 0 %>
                    <% _.each(arr, function(product) { %> 
                        <% i++ %>
                        <tr>
                            <td><%= i %></td>
                            <td>
                                <% _.each(product.image_groups, function(image) { %>
                                    <% if (image.view_type=="small" && !(image.variation_value) && image.images[0]) { %>
                                    <img  src="/images/<%= image.images[0].link %>">
                                    <% } %>
                                <% }); %>
                            </td>
                            <td><%= product.name %></td>
                            <td><%= product.price %> <%= " " %> <%= product.currency %></td>
                            <td><a href="/shop/shopping_cart/delete?name=<%= product.id %>">Delete</a></td>
                            <% total += product.price %>     
                        </tr>
                    <% }) %>   
                    </tbody>
                    <tbody>
                        <tr class="total">
                            <td>Total:</td>
                            <td><%= total.toFixed(2) %> USD </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>