<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%= include navbar %>
        <div class="container">
        <ol class="breadcrumb">
            <li><a href="/shop">Home</a></li>
            <li class="active">Sign up</li>   
        </ol>

        <div class="container">
          <form class="form-signin" role="form" method="post" action="/shop/signup">
          <h2 class="form-signin-heading">Sign up</h2>
            <div class="form-group">
              <label for="firstname">First Name:</label>
              <input type="text" class="form-control" id="firstname" name="firstname" value="" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastname">Last Name:</label>
              <input type="text" class="form-control" id="lastname" name="lastname" value="" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" value="<%= email %>" placeholder="Enter email"required>
              <% if (email_error) { %>
              <br>
              <div class="alert alert-danger" role="alert"><%= email_error %></div>
              <% } %>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" name="password" value="" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn btn-large btn-primary">Sign up</button>
          </form>
        </div>
        </div>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>