<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <%= include navbar %>
        <div class="container">
        <ol class="breadcrumb">
            <li><a href="/shop">Home</a></li>
            <% _.each(items, function(topC) { %>
                <li><a href="/shop/<%= topC.id %>"><%= topC.name %></a></li>
            <% }); %>  
            <% _.each(categories, function(subC) { %>
                <li><%= subC.name %></li>
            <% }); %>                    
        </ol>

        <% _.each(categories, function(topC) { %>
            <ol><h1><%= topC.page_title %></h1></ol>
        <% }); %> 
  
        <% _.each(subcategories, function(topC) { %>
            <ol>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                    <div>
                        <img class="img-responsive" src="/images/<%= topC.image %>">
                    </div>
                <% } %>
                <a href="/shop/<%= category_id %>/<%= topC.parent_category_id %>/<%= topC.id %>" class="btn btn-default" role="button">View products</a>     
            </ol>
        <% }); %>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>            
    </body>
</html>