body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

nav ul li {
	padding-left: 100px;
}

nav ul li a {
	font-size: 20px;
  color: white;
}

.navbar-brand {
	font-weight: bold;
	font-size: 30px;
}


.btn {
	margin-top: 1em;
}

body { 
	padding-top: 60px;
}

ol {
	list-style-type: none;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.thumbnail {
	height: 350px;
	position: relative;
}

footer {
  text-align: right;
}

.total {
  font-weight: bold;
}

.perror {
   width:20%;   
   display:inline-block; 
   margin-top: 10px;
}




